@import "./style/defaults/breakpoints";
@import "./style/defaults/colours"; 
@import "./style/components/header";
@import "./style/components/footer";

body {
    margin: 0px;
    background: linear-gradient($primary-background 50%, $secondary-background 55%);  

    main {
        margin-top: 90px;
        margin-left: 16px;
        margin-right: 16px; 

        .greeting {
            display: flex;
            flex-direction: column; 
            align-items: center;
            img {
                width: 75vw;  
                border-radius: 50%;  
            }
            h3, h2 { 
                text-align: center;
                margin: 8px; 
            }
            h3 {
                font-size: 1.5em; 
            }
            h2 {
                font-size: 35px;  
            }
        }

        .welcome-info, .additional-info { 
            border: 1px solid $third-colour;
            border-radius: 4%; 
            background-color: rgb(225, 225, 225, .4);  
            img {
                display: block;
                    margin-left: auto; 
                    margin-right: auto;
                    width: 50%;   
            }
            h3, p {
                margin: 8px; 
            }
            p {
                text-align: justify; 
            }
        }

        .pic-blog-container {
            display: flex;
            align-items: center; 
            overflow-x: scroll;
            gap: 8px; 
            margin-top: 16px; 
            margin-bottom: 16px; 
            width: 100vw; 
            .blog-header {
                border: 1px solid $third-colour;
                border-radius: 4%; 
                background-color: rgb(225, 225, 225, .4);
                h2 {
                    margin: 8px; 
                }
            }
            .pic-blog {
                display: flex; 
                align-items: center;
                gap: 8px;
                .blog-pic {
                    img {
                        width: 35vw;   
                        border-radius: 35%;     
                    }
                }
                .blog-quote {
                    border: 1px solid $third-colour;
                    border-radius: 4%; 
                    background-color: rgb(225, 225, 225, .4); 
                    max-height: 30vh; 
                    min-width: 30vw;  
                    p {
                            margin: 8px; 
                            text-align: center; 
                    }
                }
            }
        }

        .additional-info {
            margin-bottom: 16px; 
            h3, h4, p {
                text-align: center;
            }
        }
    }
}

@media screen and (min-width: $medium) {
    body {
        main {
            .greeting {
                flex-direction: row; 
                justify-content: space-around;
                margin-bottom: 16px; 
                img {
                    width: 55vw; 
                }
                h3 { 
                    font-size: 2rem; 
                }
                h2 {
                    font-size: 45px;  
                }
            } 
            .greeting :nth-child(1) {
                order: 2;
            }
            .greeting :nth-child(2) {
                order: 1; 
            }
            .welcome-info {
                h3, p {
                    font-size: 1.2rem; 
                }
            }
            .additional-info {
                h3, h4, p {
                    font-size: 1.2rem;
                }
            }
        }
    }
}

@media screen and (min-width: $large) {
    body {
        main {
            .large-container {
                display: flex;
                .greeting {
                    img {
                        width: 35vw; 
                        margin-right: 16px;
                    }
                    .hello-text {
                        width: 25vw;
                    }
                }
                .welcome-info {
                    margin: 16px; 
                }
            }
            .large-container2 {
                display: flex;
                flex-wrap: wrap; 
                justify-content: space-around;
                align-items: center;
                width: 100%; 
                .pic-blog-container {
                    flex-wrap: wrap;
                    justify-content: space-between;
                    max-width: 50vw; 
                    .pic-blog {
                        width: 100%; 
                        justify-content: space-around;  
                        .blog-pic {
                            img {
                            width: 75%;    
                            }  
                        }
                    }
                    .blog-header {
                        width: 100%; 
                        text-align: center; 
                    } 
                }
                .additional-info {
                    max-width: 30vw;   
                }
            }
            
        }
    }
}

@media screen and (min-width: $x-large) {
    body {
        main {
            .large-container2 {
                .pic-blog-container { 
                    flex-wrap: wrap;
                    flex-direction: row; 
                    justify-content: space-around; 
                    .pic-blog {
                        width: 45%;    
                        .blog-pic {
                            img {
                                min-width: 100%;   
                            }
                        }
                        .blog-quote {
                            min-width: 10vw;  
                        }
                    }
                }
            }
        } 
    }
}