@import "./style/defaults/breakpoints";
@import "./style/defaults/colours"; 
@import "./style/components/header";
@import "./style/components/footer";
@import "./style/defaults/common-style"; 

body {
    @include body-style;  

    main {
        @include main-margin;
        @include common-font; 

        .greeting {
            display: flex;
            flex-direction: column; 
            align-items: center;
            img {
                width: 75vw;  
                border-radius: 50%;  
                @include img-border;
            }
            h3, h1 {  
                text-align: center;
                margin: 8px; 
            }
            h3 {
                font-size: 1.5em; 
            }
            h1 {
                font-size: 35px;  
                span {
                    color: $primary-colour; 
                }
            }
        }

        .welcome-info, .additional-info { 
            @include card-style;  
            img {
                display: block;
                    margin-left: auto; 
                    margin-right: auto;
                    width: 50%;    
            }
            h2, p {
                margin: 24px;   
            }
            h2 {
                @include title-backing;
                text-align: center; 
            }
            p {
                text-align: justify; 
            }
        } 

        .pic-blog-container {
            display: flex;
            align-items: center; 
            overflow-x: scroll;
            gap: 8px; 
            margin-top: 16px; 
            margin-bottom: 16px; 
            width: 100vw; 
            .blog-header {
                @include card-style; 
                h2 {
                    margin: 8px; 
                    @include title-backing;
                }
            }
            .pic-blog {
                display: flex; 
                align-items: center;
                gap: 8px;
                .blog-pic {
                    img {
                        width: 35vw;   
                        border-radius: 35%;    
                        @include img-border; 
                    }
                }
                a {
                    text-decoration: none; 
                    .blog-quote {
                        @include card-style; 
                        max-height: 30vh; 
                        min-width: 30vw; 
                        p {
                                margin: 24px;   
                                text-align: center; 
                        }
                    }
                }
                a:hover {
                    .blog-quote {
                        box-shadow: 0px -1px 11px 5px rgba(0,0,0,0.75);  
                        transform: scale(1.05);
                        transition: transform 1s;  
                    }  
                }
            }
        }

        .additional-info {
            margin-bottom: 16px; 
            h2, h4, p {
                text-align: center;
            }
        }
    }
}

@media screen and (min-width: $medium) {
    body {
        main {
            .greeting {
                flex-direction: row; 
                justify-content: space-around;
                margin-bottom: 16px; 
                img {
                    width: 55vw; 
                }
                h3 { 
                    font-size: 2rem; 
                }
                h1 {
                    font-size: 45px;  
                } 
            } 
            .greeting :nth-child(1) {
                order: 2;
            }
            .greeting :nth-child(2) {
                order: 1; 
            }
            .welcome-info {
                p {
                    font-size: 1.2rem; 
                }
                img {
                    width: 30%;
                }
            }
            .additional-info {
                h4, p { 
                    font-size: 1.2rem;
                }
            }
        }
    }
}

@media screen and (min-width: $large) {
    body {
        main {
            .large-container {
                display: flex;
                .greeting {
                    flex-direction: column; 
                    justify-content: flex-start; 
                    img {
                        margin-top: 40px; 
                        width: 35vw; 
                        margin-right: 16px;
                    }
                    .hello-text {
                        width: 25vw;
                    }
                }
                .welcome-info {
                    margin: 16px; 
                }
            }
            .large-container2 {
                display: flex;
                flex-wrap: wrap; 
                justify-content: space-around;
                align-items: center;
                width: 100%; 
                .pic-blog-container {
                    flex-wrap: wrap;
                    justify-content: space-between;
                    max-width: 50vw; 
                    .pic-blog {
                        width: 100%; 
                        justify-content: space-around;  
                        .blog-pic {
                            img {
                            width: 75%;    
                            }  
                        }
                    }
                    .blog-header {
                        width: 100%; 
                        text-align: center; 
                    } 
                }
                .additional-info {
                    max-width: 30vw;   
                }
            }
            
        }
    }
}

@media screen and (min-width: $x-large) {
    body {
        main {
            .large-container {
                .greeting {
                    justify-content: space-around; 
                    margin-top: 24px; 
                    .hello-text {
                        h1 {
                            font-size: 4em;  
                        }
                    }
                }
            }
            .large-container2 {
                .pic-blog-container { 
                    flex-wrap: wrap;
                    flex-direction: row; 
                    justify-content: space-around; 
                    .pic-blog {
                        width: 45%;    
                        .blog-pic {
                            img {
                                min-width: 100%;   
                            }
                        }
                        .blog-quote {
                            min-width: 10vw;  
                        }
                    }
                }
            }
        } 
    }
}