@import "../defaults/breakpoints";
@import "../defaults/colours";
@import "../defaults/common-style";

footer {
    @include common-font;
    background-color: $primary-colour;
    width: 100vw;
    display: flex; 
    position: relative;
    justify-content: space-between; 
    
    .copyright {
        margin-left: 16px;
        margin-top: 8px; 
        p, i { 
            font-weight: bold; 
        } 
    }
    .social-media { 
        display: flex;
        justify-content: space-around;
        align-items: center;
        a {
            text-decoration: none; 
        
            i {
                width: 50px; 
                font-size: 40px; 
            }
        }
    }
 
}

@media screen and (min-width: $medium) {
    footer {
        .social-media {
            width: 65vw; 
        }
    }
}