@import "../defaults/breakpoints";
@import "../defaults/colours";
@import "../defaults/common-style";

@keyframes button-hover {

}

header {
    @include common-font; 
    background-color: $primary-colour; 
    padding-bottom: 0px;
    position: fixed;
    top: 0px;
    width: 100vw;
    z-index: 1; 

    .logo-name { 
        display: flex; 
        a {
            text-decoration: none; 
            display: flex;
            justify-content: center; 
            img {
                background-color: transparent;  
                width: 57px;
                height: 57px; 
            }
            p {
                color: $primary-background; 
                font-weight: bolder;  
                font-size: 18px;
            }
        }
    }    
    #nav-btns {
        display: flex; 
        justify-content: space-around;
        a {
            text-align: center; 
            text-decoration: none;
            color: $primary-background; 
            font-weight: 1000; 
        }
        a:hover {
            text-decoration-line: underline;
            color: white;
            transition: font-size .5s;    
            font-size: 1.2rem;  
        }
    }
}

@media screen and (min-width: $large) {
    header {
        display: flex;
        justify-content: space-between;
        align-items: center; 
        #nav-btns {
            width: 50vw; 
        }
    }
    
} 