@import "../defaults/breakpoints";
@import "../defaults/colours";

footer {
    background-color: $primary-colour;
    width: 100vw;
    
    .social-media { 
        display: flex;
        justify-content: space-around;
        align-items: center;
        a {
            text-decoration: none; 
        
            i {
                width: 50px; 
                font-size: 40px; 
            }
        }
    }
 
}

@media screen and (min-width: $medium) {
    footer {
        display: flex;
        justify-content: flex-end;
        .social-media {
            width: 65vw; 
        }
    }
}