@import "../components/footer";
@import "../components/header";
@import "../defaults/breakpoints";
@import "../defaults/colours";
@import "../defaults/common-style"; 

body {
    margin: 0;  
    background: linear-gradient($primary-background 40%, $secondary-background 60%); 
    min-height: 100vh; 

    main {
        @include common-font; 
        display: flex;
        flex-direction: column; 
        margin-top: 90px;

        // Commence CSS code for text styling
        p {
            color: white; 
        }
        .blog-header {
            display: flex;
            justify-content: center;
            h2 {
                width: 100%;
                @include title-backing;
                text-align: center;
            }
        }

        .blog-cards {
            display: flex;
            flex-direction: column; 
            align-items: center;
            h3 {
                position: relative;
                text-align: center;
                margin: 24px;  
                @include title-backing; 
            }
            img {
                display: block;
                position: relative;
                margin-left: auto; 
                margin-right: auto;
                width: 50vw;   
            }
            p {
                text-align: justify; 
                position: relative;
                margin: 24px; 
            }
            .date {
                text-align: center;
                position: relative;
                border-bottom: 2px solid $primary-colour;  
                border-top: 2px solid $primary-colour;  
                font-weight: 700; 
                padding: 2px;  
            }
            // End CSS code block
            // Commence CSS code for image underlay with gradient to match background
            .article-1 {
                position: relative;
                margin-bottom: 16px;
                display: flex;
                flex-direction: column; 
                height: 50%;   
            }
            .article-1::before { 
                content: "";
                background-image: 
                radial-gradient(circle, rgba(48,79,109,0) 0%, rgba(48,79,109,1) 100%),
                linear-gradient(to bottom, rgba(48,79,109, 1), rgba(255, 255, 255, 0), rgba(48,79,109, 1)), 
                url(../../imgs/game-dev.jpg);  
                background-size: cover;
                position: absolute;   
                top: 0; 
                opacity: 0.8; 
                width: 100%;
                height: 100%;
                background-position: center;
            } 
            .article-2 {
                position: relative;
                margin-bottom: 16px;
                display: flex;
                flex-direction: column; 
                height: 50%;  
            }
            .article-2::before {  
                content: "";
                background-image: 
                radial-gradient(circle, rgba(48,79,109,0) 0%, rgba(48,79,109,1) 100%),
                linear-gradient(to bottom, rgba(48,79,109, 1), rgba(255, 255, 255, 0), rgba(48,79,109, 1)),  
                url(../../imgs/ai-pic.jpg);
                background-size: cover;
                position: absolute;   
                top: 0; 
                opacity: 0.8;
                width: 100%;
                height: 100%;
                background-position: center;
            } 
            .article-3 {
                position: relative;
                margin-bottom: 16px;
                display: flex;
                flex-direction: column; 
                height: 50%;  
            }
            .article-3::before { 
                content: "";
                background-image:  
                radial-gradient(circle, rgba(48,79,109,0) 0%, rgba(48,79,109,1) 100%),
                linear-gradient(to bottom, rgba(48,79,109, 1), rgba(255, 255, 255, 0), rgba(71,97,114, 1)),
                url(../../imgs/personal-life.jpg);
                background-size: cover;
                position: absolute;   
                top: 0; 
                opacity: 0.8;
                width: 100%;
                height: 100%;
                background-position: center;
            } 
            .article-4 {
                position: relative;
                margin-bottom: 16px;
                display: flex;
                flex-direction: column; 
                height: 50%;  
            }
            .article-4::before { 
                content: "";
                background-image: 
                radial-gradient(circle, rgba(71,97,114,0) 0%, rgba(71,97,114,1) 100%),  
                linear-gradient(to bottom, rgba(71,97,114, 1), rgba(255, 255, 255, 0), rgba(123,137,125, 1)), 
                url(../../imgs/pineapple-pizza.jpg); 
                background-size: cover;
                position: absolute;   
                top: 0; 
                opacity: 0.8;
                width: 100%;
                height: 100%;
                background-position: center; 
            } 
            .article-5 {
                position: relative;
                margin-bottom: 16px;
                display: flex;
                flex-direction: column; 
                height: 50%;  
            }
            .article-5::before { 
                content: "";
                background-image: 
                linear-gradient(to right, rgba(123,137,125, 1), rgba(255, 255, 255, 0), rgba(137, 148, 129, 1)),
                linear-gradient(to bottom, rgba(137, 148, 129, 1), rgba(255, 255, 255, 0), rgba(137, 148, 129, 1)),
                url(../../imgs/game-over.jpg); 
                background-size: cover;
                position: absolute;  
                top: 0; 
                opacity: 0.8;
                width: 100%;
                height: 100%;
                background-position: center;
            } 
            .article-6 {
                position: relative;
                margin-bottom: 16px;
                display: flex;
                flex-direction: column; 
                height: 50%;  
            }
            .article-6::before { 
                content: "";
                background-image: 
                linear-gradient(to right, rgba(137, 148, 129, 1), rgba(255, 255, 255, 0), rgba(137, 148, 129, 1)),
                linear-gradient(to bottom, rgba(137, 148, 129, 1), rgba(255, 255, 255, 0), rgba(137, 148, 129, 1)), 
                url(../../imgs/ghost.jpg);  
                background-size: cover; 
                position: absolute;   
                top: 0; 
                opacity: 0.8; 
                width: 100%;
                height: 100%;
                background-position: center;
            } 
            // End CSS code block
        }
    }
}
