@import "../components/footer";
@import "../components/header";
@import "../defaults/breakpoints";
@import "../defaults/colours"; 
@import "../defaults/common-style";

body {
    @include body-style;
        main {
            @include main-margin;
            @include common-font; 
            h3 {
                text-align: center;
                font-size: 1.5rem;  
                @include card-style;
                @include title-backing;
            }
            form {
                .form-elements {
                    display: flex;
                    flex-direction: column;
                    margin-bottom: 16px; 

                    .form-input {
                        border: 2px solid $primary-colour;
                        border-radius: 10px;
                        outline: none;
                        padding-left: 10px; 
                        font-size: 1.1rem; 

                        &#form-textarea {
                            resize: none; 
                        }

                        &:not(#form-textarea) {
                            height: 26px; 
                        }
                    }
                }
                
                .btn-div {
                    text-align: center; 
                    #submit {
                        height: 40px; 
                        background-color: $primary-colour;
                        border: 2px solid $third-colour; 
                        color: $primary-background;
                        font-weight: bolder;
                        min-width: 80px; 
                        font-size: 1.1rem; 
                        border-radius: 10px;   
                    }
                }
            }
            
            .contact-details {
                text-align: center;
                @include card-style; 
                margin-bottom: 16px; 
                margin-top: 16px;  

                span {
                    font-weight: bolder; 
                }
            }
        }
}

@media screen and (min-width: $large) {
    body {
        main {
            .contact-container {
                display: flex;
                margin-bottom: 16px;
                justify-content: space-around;
                align-items: center;
                .form-elements {
                    width: 50vw; 
                    margin-right: 16px;  
                }
            }
            .contact-details {
                width: 35vw;
            }
        }
    }
}