@import url("https://fonts.googleapis.com/css2?family=Kalam:wght@700&family=PT+Serif&family=Playfair+Display:ital,wght@1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kalam:wght@700&family=PT+Serif&family=Playfair+Display:ital,wght@1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kalam:wght@700&family=PT+Serif&family=Playfair+Display:ital,wght@1,800&display=swap");
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@keyframes typing-bar {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: gray;
  }
}
footer {
  font-family: "PT Serif", sans-serif;
  background-color: #FFE1A0;
  width: 100vw;
  display: flex;
  position: relative;
  justify-content: space-between;
}
footer .copyright {
  margin-left: 16px;
  margin-top: 8px;
}
footer .copyright p, footer .copyright i {
  font-weight: bold;
}
footer .social-media {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
footer .social-media a {
  text-decoration: none;
}
footer .social-media a i {
  width: 50px;
  font-size: 40px;
}

@media screen and (min-width: 600px) {
  footer .social-media {
    width: 65vw;
  }
}
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@keyframes typing-bar {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: gray;
  }
}
@keyframes button-hover {}
header {
  font-family: "PT Serif", sans-serif;
  background-color: #FFE1A0;
  padding-bottom: 0px;
  position: fixed;
  top: 0px;
  width: 100vw;
  z-index: 1;
}
header .logo-name {
  display: flex;
}
header .logo-name a {
  text-decoration: none;
  display: flex;
  justify-content: center;
}
header .logo-name a img {
  background-color: transparent;
  width: 57px;
  height: 57px;
}
header .logo-name a p {
  color: #304F6D;
  font-weight: bolder;
  font-size: 18px;
}
header #nav-btns {
  display: flex;
  justify-content: space-around;
}
header #nav-btns a {
  text-align: center;
  text-decoration: none;
  color: #304F6D;
  font-weight: 1000;
}
header #nav-btns a:hover {
  text-decoration-line: underline;
  color: white;
  transition: font-size 0.5s;
  font-size: 1.2rem;
}

@media screen and (min-width: 960px) {
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  header #nav-btns {
    width: 50vw;
  }
}
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@keyframes typing-bar {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: gray;
  }
}
html {
  min-height: 100%;
}
html body {
  min-height: 100%;
  margin: 0;
}
html body main {
  margin-top: 90px;
  height: 100%;
}
html body main .personality-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
}
html body main .personality-profile .picture {
  display: flex;
  flex-direction: column;
  font-family: "Kalam", cursive;
  position: relative;
  color: white;
  font-style: italic;
  text-align: center;
  background-color: rgba(48, 79, 109, 0.65);
}
html body main .personality-profile .picture q, html body main .personality-profile .picture p {
  margin: 8px;
}
html body main .personality-profile .personality-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  color: white;
  margin: 10px;
  background-color: rgba(48, 79, 109, 0.65);
}
html body main .personality-profile .personality-details h3, html body main .personality-profile .personality-details h4 {
  border-top: 5px solid;
  -o-border-image: linear-gradient(to right, transparent 5%, #E07D54 50%, transparent 95%) 100% 1;
     border-image: linear-gradient(to right, transparent 5%, #E07D54 50%, transparent 95%) 100% 1;
  padding: 2px;
  color: #FFE1A0;
  width: 90vw;
  text-align: center;
  font-family: "Kalam", cursive;
}
html body main .personality-profile .personality-details p {
  margin: 24px;
  text-align: justify;
  font-family: "PT Serif", sans-serif;
}
html body main .personality-profile .personality-details img {
  display: none;
}
html body main .other-info {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 16px;
  text-align: center;
}
html body main .other-info .hobbies, html body main .other-info .experience {
  background-color: rgba(48, 79, 109, 0.65);
  display: flex;
  color: white;
}
html body main .other-info .hobbies .hobby-img, html body main .other-info .hobbies .experience-img, html body main .other-info .experience .hobby-img, html body main .other-info .experience .experience-img {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  max-width: 35%;
  margin: 8px;
}
html body main .other-info .hobbies .hobby-img img, html body main .other-info .hobbies .experience-img img, html body main .other-info .experience .hobby-img img, html body main .other-info .experience .experience-img img {
  border-radius: 10%;
}
html body main .other-info .hobbies .hobby-text h3, html body main .other-info .hobbies .experience-text h3, html body main .other-info .experience .hobby-text h3, html body main .other-info .experience .experience-text h3 {
  font-family: "Kalam", cursive;
  margin: 16px;
  border-top: 5px solid;
  -o-border-image: linear-gradient(to right, transparent 5%, #E07D54 50%, transparent 95%) 100% 1;
     border-image: linear-gradient(to right, transparent 5%, #E07D54 50%, transparent 95%) 100% 1;
  padding: 2px;
  color: #FFE1A0;
}
html body main .other-info .hobbies .hobby-text p, html body main .other-info .hobbies .experience-text p, html body main .other-info .experience .hobby-text p, html body main .other-info .experience .experience-text p {
  font-family: "PT Serif", sans-serif;
  margin: 24px;
  text-align: justify;
}
html body main .other-info .hobbies button, html body main .other-info .experience button {
  border-radius: 10px;
  border: none;
  height: 50px;
  font-size: 1rem;
  margin-bottom: 16px;
  background-color: #FFE1A0;
}
html body main .other-info .hobbies button:hover, html body main .other-info .experience button:hover {
  box-shadow: 0px 2px 20px 14px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 2px 20px 14px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 2px 20px 14px rgba(0, 0, 0, 0.75);
  cursor: pointer;
}
html body main::before {
  content: "";
  background-image: url(../../imgs/christopher-farrugia-2yQtqBqzDRo-unsplash.jpg);
  background-size: cover;
  background-attachment: fixed;
  position: fixed;
  top: 60px;
  opacity: 0.65;
  width: 100%;
  height: 100%;
  background-position: center;
}

@media screen and (min-width: 600px) {
  html body main .personality-profile .picture {
    font-size: 1.3rem;
  }
  html body main .other-info .hobbies, html body main .other-info .experience {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  html body main .other-info .hobbies .hobby-img, html body main .other-info .hobbies .experience-img, html body main .other-info .experience .hobby-img, html body main .other-info .experience .experience-img {
    flex-direction: row;
  }
  html body main .other-info .hobbies .hobby-img img, html body main .other-info .hobbies .experience-img img, html body main .other-info .experience .hobby-img img, html body main .other-info .experience .experience-img img {
    width: 50%;
  }
}
@media screen and (min-width: 960px) {
  html body main .personality-profile .picture {
    font-size: 1.75rem;
  }
  html body main .personality-profile .personality-details h3, html body main .personality-profile .personality-details h4 {
    font-size: 2rem;
    margin: 8px;
  }
  html body main .personality-profile .personality-details p {
    font-size: 1.25rem;
  }
  html body main .other-info {
    flex-direction: row;
  }
  html body main .other-info .hobbies p, html body main .other-info .experience p {
    font-size: 1.25rem;
  }
  html body main .other-info .hobbies h3, html body main .other-info .experience h3 {
    font-size: 2rem;
  }
  html body main .other-info .hobbies .hobby-img, html body main .other-info .hobbies .experience-img, html body main .other-info .experience .hobby-img, html body main .other-info .experience .experience-img {
    height: 30%;
    width: 100%;
  }
  html body main .other-info .hobbies .hobby-img img, html body main .other-info .hobbies .experience-img img, html body main .other-info .experience .hobby-img img, html body main .other-info .experience .experience-img img {
    width: 100%;
  }
}
@media screen and (min-width: 1200px) {
  html body main .personality-profile .personality-details {
    flex-wrap: wrap;
  }
  html body main .personality-profile .personality-details h3, html body main .personality-profile .personality-details h4 {
    font-size: 2.5rem;
    margin: 8px;
  }
  html body main .personality-profile .personality-details p {
    font-size: 1.25rem;
  }
  html body main .personality-profile .personality-details .personality-container {
    display: flex;
    justify-content: space-around;
  }
  html body main .personality-profile .personality-details .personality-container .personality-text {
    display: flex;
    flex-direction: column;
    width: 65%;
    height: 100%;
  }
  html body main .personality-profile .personality-details .personality-container .personality-img {
    display: flex;
    width: 25%;
    position: relative;
    justify-content: center;
    align-items: center;
  }
  html body main .personality-profile .personality-details .personality-container .personality-img img {
    display: block;
    border-radius: 10%;
    width: 100%;
    max-width: 378px;
    max-height: 900px;
    margin: 16px;
  }
  html body main .other-info {
    flex-direction: row;
  }
  html body main .other-info .hobbies, html body main .other-info .experience {
    width: 50%;
  }
  html body main .other-info .hobbies p, html body main .other-info .experience p {
    font-size: 1.25rem;
  }
  html body main .other-info .hobbies h3, html body main .other-info .experience h3 {
    font-size: 2.5rem;
  }
  html body main .other-info .hobbies .hobby-img, html body main .other-info .hobbies .experience-img, html body main .other-info .experience .hobby-img, html body main .other-info .experience .experience-img {
    height: 30%;
  }
  html body main .other-info .hobbies .hobby-img img, html body main .other-info .hobbies .experience-img img, html body main .other-info .experience .hobby-img img, html body main .other-info .experience .experience-img img {
    height: 100%;
  }
  html body main .other-info .hobbies .hobby-text, html body main .other-info .hobbies .experience-text, html body main .other-info .experience .hobby-text, html body main .other-info .experience .experience-text {
    height: 70%;
  }
}/*# sourceMappingURL=about.css.map */