@import url("https://fonts.googleapis.com/css2?family=Kalam:wght@700&family=PT+Serif&family=Playfair+Display:ital,wght@1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kalam:wght@700&family=PT+Serif&family=Playfair+Display:ital,wght@1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kalam:wght@700&family=PT+Serif&family=Playfair+Display:ital,wght@1,800&display=swap");
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@keyframes typing-bar {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: gray;
  }
}
footer {
  font-family: "PT Serif", sans-serif;
  background-color: #FFE1A0;
  width: 100vw;
  display: flex;
  position: relative;
  justify-content: space-between;
}
footer .copyright {
  margin-left: 16px;
  margin-top: 8px;
}
footer .copyright p, footer .copyright i {
  font-weight: bold;
}
footer .social-media {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
footer .social-media a {
  text-decoration: none;
}
footer .social-media a i {
  width: 50px;
  font-size: 40px;
}

@media screen and (min-width: 600px) {
  footer .social-media {
    width: 65vw;
  }
}
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@keyframes typing-bar {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: gray;
  }
}
@keyframes button-hover {}
header {
  font-family: "PT Serif", sans-serif;
  background-color: #FFE1A0;
  padding-bottom: 0px;
  position: fixed;
  top: 0px;
  width: 100vw;
  z-index: 1;
}
header .logo-name {
  display: flex;
}
header .logo-name a {
  text-decoration: none;
  display: flex;
  justify-content: center;
}
header .logo-name a img {
  background-color: transparent;
  width: 57px;
  height: 57px;
}
header .logo-name a p {
  color: #304F6D;
  font-weight: bolder;
  font-size: 18px;
}
header #nav-btns {
  display: flex;
  justify-content: space-around;
}
header #nav-btns a {
  text-align: center;
  text-decoration: none;
  color: #304F6D;
  font-weight: 1000;
}
header #nav-btns a:hover {
  text-decoration-line: underline;
  color: white;
  transition: font-size 0.5s;
  font-size: 1.2rem;
}

@media screen and (min-width: 960px) {
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  header #nav-btns {
    width: 50vw;
  }
}
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@keyframes typing-bar {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: gray;
  }
}
html {
  height: 100%;
}
html body {
  margin: 0;
  background: linear-gradient(#304F6D 40%, #899481 70%);
  height: 100%;
  width: 100%;
  position: absolute;
}
html body main {
  margin-left: 16px;
  margin-right: 16px;
  font-family: "PT Serif", sans-serif;
  margin-top: 90px;
  position: relative;
}
html body main h3 {
  margin: 0;
  text-align: center;
  font-size: 1.5rem;
  border-top: 5px solid;
  -o-border-image: linear-gradient(to right, transparent 5%, #E07D54 50%, transparent 95%) 100% 1;
     border-image: linear-gradient(to right, transparent 5%, #E07D54 50%, transparent 95%) 100% 1;
  padding: 2px;
  color: #FFE1A0;
  font-family: "Kalam", cursive;
}
html body main form .form-elements {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}
html body main form .form-elements .form-input {
  border: 2px solid #FFE1A0;
  border-radius: 10px;
  outline: none;
  padding-left: 10px;
  font-size: 1.1rem;
}
html body main form .form-elements .form-input#form-textarea {
  resize: none;
}
html body main form .form-elements .form-input:not(#form-textarea) {
  height: 26px;
}
html body main form .btn-div {
  text-align: center;
}
html body main form .btn-div #submit {
  height: 40px;
  background-color: #FFE1A0;
  border: 2px solid #E07D54;
  color: #304F6D;
  font-weight: bolder;
  min-width: 80px;
  font-size: 1.1rem;
  border-radius: 10px;
}
html body main .contact-details {
  text-align: center;
  border: 2px solid #E07D54;
  border-radius: 10px;
  background-color: rgba(225, 225, 225, 0.6);
  margin-bottom: 16px;
  margin-top: 16px;
}
html body main .contact-details span {
  font-weight: bolder;
}
html body footer {
  position: absolute;
  bottom: 0;
}
@media screen and (min-width: 960px) {
  html body main h3 {
    font-size: 2rem;
  }
  html body main .contact-container {
    display: flex;
    margin-bottom: 16px;
    justify-content: space-around;
    align-items: center;
  }
  html body main .contact-container .form-elements {
    width: 50vw;
    margin-right: 16px;
  }
  html body main .contact-details {
    width: 35vw;
  }
}
@media screen and (min-width: 1200px) {
  html body main h3 {
    font-size: 2.5rem;
  }
}/*# sourceMappingURL=contact.css.map */