@import "../defaults/colours";
@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@700&family=PT+Serif&family=Playfair+Display:ital,wght@1,800&display=swap');


@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

@keyframes typing-bar {
    from, to {
        border-color: transparent;
    }
    50% {
        border-color: gray; 
    }
}

@mixin body-style {
    margin: 0;  
    background: linear-gradient($primary-background 40%, $secondary-background 70%); 
    min-height: 100vh; 
}

@mixin main-margin {
    margin-top: 90px;
    margin-left: 16px;
    margin-right: 16px; 
}

@mixin card-style {
    border: 2px solid $third-colour;  
    border-radius: 10px;   
    background-color: rgb(225, 225, 225, .6); 
}

@mixin title-backing {
    border-top: 5px solid; 
    border-image: linear-gradient(to right, transparent 5%, $third-colour 50%, transparent 95%) 100% 1;     
    padding: 2px; 
    color: $primary-colour; 
}

@mixin img-border {
    border: 2px solid $third-colour; 
    background-color: $fourth-colour;
}

@mixin common-font {
    font-family: 'PT Serif', sans-serif;   
}

@mixin header-font {
    font-family: 'Kalam', cursive; 
}